.cards {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 3vw;
  .cardsLayout {
    padding: 3vw;
    border-radius: 20px;
    margin: 3vh 0 3vh 0;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background: #ffb6c1;
    text-align: center;
    ul {
      list-style-type: none;
    }
  }
}
